[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "extern/matplotlib-cpp"]
	path = extern/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen
